MONGO_URI=mongodb+srv://excelflow_user:Rv5xMZAbIS8QHFj4@cluster0.r8fvxtr.mongodb.net/?appName=Cluster0
JWT_SECRET=1e0f2aef1baecda30efd5e499cd984fba1b5688734ae594cf715915ea1c4541f3e6cd3f3c046a0096cff57b0e5af0abf
PORT=4000
# Comma-separated list of allowed frontend origins
ALLOWED_ORIGIN=http://localhost:5173
